html,
body {
  padding: 0;
  margin: 0;

  overscroll-behavior: none;
  scroll-snap-type: y proximity;

  font-family: sans-serif;
}

.screen {
  position: relative;
  min-width: 100vh;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#title-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: white;
  background-color: blue;

  h1 {
    text-shadow: 0.1em 0 black;
    text-transform: uppercase;
    font-size: 10vw;
    margin-top: 0;
  }

  button {
    background-color: transparent;
    border: none;
  }
}

#map {
  height: 700vh;

  #bologna {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;

    --grid-color: #ddd;
    --grid-repeat-every: 5vmin;
    --grid-width: 0.1vmin;
    background:
      repeating-linear-gradient(
        to right,
        transparent,
        transparent calc(var(--grid-repeat-every) - var(--grid-width)),
        var(--grid-color) calc(var(--grid-repeat-every) - var(--grid-width)),
        var(--grid-color) var(--grid-repeat-every)
      ),
      repeating-linear-gradient(
        to bottom,
        transparent,
        transparent calc(var(--grid-repeat-every) - var(--grid-width)),
        var(--grid-color) calc(var(--grid-repeat-every) - var(--grid-width)),
        var(--grid-color) var(--grid-repeat-every)
      );

    --overlay-opacity: 0;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
    }

    .pin {
      position: absolute;
      color: black;
      z-index: 2;
      transition:
        all 1s,
        background-color 0s;
      background-color: rgba(255, 255, 255, 0.5);

      &.big {
        background-color: rgba(255, 255, 255, 0);
        font-weight: bold;
        font-size: xxx-large;
        text-shadow: 0.1em 0 black;
        z-index: 4;
      }
    }
    #bologna-pin {
      top: 25vh;
      left: 30vh;

      &.big {
        color: #f22;
        &.moved {
          color: #2f2;
        }
        &:not(.moved)::before {
          content: "Target: ";
          position: absolute;
          top: -1lh;
          left: 1ex;
        }
        &::after {
          content: " (held by Nazis)";
          color: #f22;
          transition:
            filter 5s,
            left 5s,
            top 5s,
            font-size 5s,
            background-color 5s,
            backdrop-filter 5s,
            font-size 5s,
            position 5s,
            display 5s;
          position: relative;
          top: 0;
          left: 0;
          z-index: -1;
        }
        &.moved::after {
          filter: blur(0.1em);
          left: -50%;
        }
        &.missing {
          z-index: 100;
        }
        &.missing::after {
          filter: none;
          z-index: 100;
          top: 1lh;
          background-color: rgba(0, 0, 255, 0.5);
          backdrop-filter: blur(0.5rem);
        }
      }
    }
    #pianosa-pin {
      top: 42.5vh;
      left: 25.2vh;
      &.big {
        color: #2f2;
      }
    }
    #arrow {
      font-family: sans-serif;
      opacity: 0;
      position: absolute;
      top: 42.5vh;
      left: 15.3vh;
      color: transparent;
      text-shadow: none;
      background: linear-gradient(to right, #2f2, #f22 66%);
      background-clip: text;
      font-weight: bold;
      font-size: 15vh;
      z-index: 4;
      rotate: -73deg;
      transition: all 1s;
      &.show {
        top: 26.5vh;
        left: 20vh;
        opacity: 1;
      }
      &.moved {
        background: #2f2;
        background-clip: text;
        transition:
          all 1s,
          opacity 10s 2s;
        opacity: 0;
      }
    }

    #ribbon {
      position: absolute;
      top: 24vh;
      --rotate: -25deg;
      rotate: var(--rotate);
      width: calc(100vh * cos(var(--rotate)));
      height: 2em;
      opacity: 0;

      &.moved {
        transition: all 2s;
        --rotate: -10deg;
        top: 18vh;
        z-index: 5;
      }

      --grid-color: #faaa;
      --grid-repeat-every: 0.2em;
      --grid-width: 0.1em;
      background:
        repeating-linear-gradient(
          45deg,
          transparent,
          transparent calc(var(--grid-repeat-every) - var(--grid-width)),
          var(--grid-color) calc(var(--grid-repeat-every) - var(--grid-width)),
          var(--grid-color) var(--grid-repeat-every)
        ),
        repeating-linear-gradient(
          135deg,
          transparent,
          transparent calc(var(--grid-repeat-every) - var(--grid-width)),
          var(--grid-color) calc(var(--grid-repeat-every) - var(--grid-width)),
          var(--grid-color) var(--grid-repeat-every)
        ),
        linear-gradient(to bottom, #faa, red 50%);
      /* TODO: pins on edge of ribbon */
      z-index: 2;

      /*
       * Source - https://stackoverflow.com/a/47085434
       * Posted by Tymn Urban, modified by community. See post 'Timeline' for change history
       * Retrieved 2026-06-14, License - CC BY-SA 3.0
       */
      clip-path: polygon(
        3% 0,
        7% 1%,
        11% 0%,
        16% 2%,
        20% 0,
        23% 2%,
        28% 2%,
        32% 1%,
        35% 1%,
        39% 3%,
        41% 1%,
        45% 0%,
        47% 2%,
        50% 2%,
        53% 0,
        58% 2%,
        60% 2%,
        63% 1%,
        65% 0%,
        67% 2%,
        69% 2%,
        73% 1%,
        76% 1%,
        79% 0,
        82% 1%,
        85% 0,
        87% 1%,
        89% 0,
        92% 1%,
        96% 0,
        98% 3%,
        99% 3%,
        99% 6%,
        100% 11%,
        98% 15%,
        100% 21%,
        99% 28%,
        100% 32%,
        99% 35%,
        99% 40%,
        100% 43%,
        99% 48%,
        100% 53%,
        100% 57%,
        99% 60%,
        100% 64%,
        100% 68%,
        99% 72%,
        100% 75%,
        100% 79%,
        99% 83%,
        100% 86%,
        100% 90%,
        99% 94%,
        99% 98%,
        95% 99%,
        92% 99%,
        89% 100%,
        86% 99%,
        83% 100%,
        77% 99%,
        72% 100%,
        66% 98%,
        62% 100%,
        59% 99%,
        54% 99%,
        49% 100%,
        46% 98%,
        43% 100%,
        40% 98%,
        38% 100%,
        35% 99%,
        31% 100%,
        28% 99%,
        25% 99%,
        22% 100%,
        19% 99%,
        16% 100%,
        13% 99%,
        10% 99%,
        7% 100%,
        4% 99%,
        2% 97%,
        1% 97%,
        0% 94%,
        1% 89%,
        0% 84%,
        1% 81%,
        0 76%,
        0 71%,
        1% 66%,
        0% 64%,
        0% 61%,
        0% 59%,
        1% 54%,
        0% 49%,
        1% 45%,
        0% 40%,
        1% 37%,
        0% 34%,
        1% 29%,
        0% 23%,
        2% 20%,
        1% 17%,
        1% 13%,
        0 10%,
        1% 6%,
        1% 3%
      );
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, var(--overlay-opacity));
      backdrop-filter: blur(calc(5px * var(--overlay-opacity)));
      /* backdrop-filter: invert(50%); */
      z-index: 1;
      content: "";
    }
  }

  #ribbon-scroll-align {
    position: absolute;
    top: 100vh;
    scroll-snap-align: start;
  }
  #nazis-scroll-align {
    position: absolute;
    top: 200vh;
    scroll-snap-align: start;
  }
  #news1-scroll-align {
    position: absolute;
    top: 250vh;
    scroll-snap-align: start;
  }
  #newsmid-scroll-align {
    position: absolute;
    top: 300vh;
    scroll-snap-align: start;
  }
  #news2-scroll-align {
    position: absolute;
    top: 355vh;
    scroll-snap-align: start;
  }
  #newsend-scroll-align {
    position: absolute;
    top: 400vh;
    scroll-snap-align: start;
  }
  #end-scroll-align {
    position: absolute;
    top: 500vh;
    scroll-snap-align: end;
  }

  #medal-wrapper {
    position: absolute;
    top: 600vh;
    height: 100vh;
    margin-left: 100vh;
    z-index: 5;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

#smth {
  height: 100vh;
}

#bo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  cursor: none;
}

#news {
  position: fixed;
  z-index: 100;
  left: 25vw;
  bottom: -15vh;
  width: 50vw;
  height: 15vh;
  background-color: antiquewhite;

  text-transform: uppercase;
  font-family: "Times New Roman", serif;
  font-size: xxx-large;
  text-align: center;
}
