html,
body {
  padding: 0;
  margin: 0;
  overscroll-behavior: none;

  font-family: sans-serif;
}

.screen {
  position: relative;
  min-width: 100vh;
  height: 100vh;
}

#title-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  background-color: blue;

  h1 {
    text-shadow: 0.1em 0 black;
    text-transform: uppercase;
    font-size: 10vw;
  }
}

#map {
  height: 400vh;

  #bologna {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;

    --grid-color: #ddd;
    --grid-repeat-every: 5vmin;
    --grid-width: 0.1vmin;
    background:
      repeating-linear-gradient(
        to right,
        transparent,
        transparent calc(var(--grid-repeat-every) - var(--grid-width)),
        var(--grid-color) calc(var(--grid-repeat-every) - var(--grid-width)),
        var(--grid-color) var(--grid-repeat-every)
      ),
      repeating-linear-gradient(
        to bottom,
        transparent,
        transparent calc(var(--grid-repeat-every) - var(--grid-width)),
        var(--grid-color) calc(var(--grid-repeat-every) - var(--grid-width)),
        var(--grid-color) var(--grid-repeat-every)
      );

    --overlay-opacity: 0;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
    }

    span {
      position: absolute;
      top: 25vh;
      left: 30vh;
      color: black;
      z-index: 2;
      transition: all 1s;

      &.big {
        color: #f22;
        font-weight: bold;
        font-size: xxx-large;
        text-shadow: 0.1em 0 black;
        z-index: 4;
      }
    }

    #ribbon {
      position: absolute;
      top: 25vh;
      width: calc(100vh * cos(25deg));
      height: 1em;

      --grid-color: #faaa;
      --grid-repeat-every: 0.2em;
      --grid-width: 0.1em;
      background:
        repeating-linear-gradient(
          45deg,
          transparent,
          transparent calc(var(--grid-repeat-every) - var(--grid-width)),
          var(--grid-color) calc(var(--grid-repeat-every) - var(--grid-width)),
          var(--grid-color) var(--grid-repeat-every)
        ),
        repeating-linear-gradient(
          135deg,
          transparent,
          transparent calc(var(--grid-repeat-every) - var(--grid-width)),
          var(--grid-color) calc(var(--grid-repeat-every) - var(--grid-width)),
          var(--grid-color) var(--grid-repeat-every)
        ),
        linear-gradient(to bottom, #faa, red 50%);
      rotate: -25deg;
      /* TODO: pins on edge of ribbon */
      z-index: 2;
    }
  }
  #bologna::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, var(--overlay-opacity));
    backdrop-filter: blur(calc(5px * var(--overlay-opacity)));
    /* backdrop-filter: invert(50%); */
    z-index: 1;
    content: "";
  }
}

#smth {
  height: 100vh;
}
